.red {
  background: red;
}

body {
  background-image: url(https://images.unsplash.com/photo-1589306972979-9ab767b48fc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  height: 100%;
  background-position: center;
  background-size: cover;
}

.box {
  text-align: center;
  max-width: 1200px;
  min-height: 150px;
  margin-top: 20px;
  margin: auto;
  padding: 10px;
  top: 50%;
  left: 50%;
  background: rgb(0, 0, 0.7);
  opacity: 0.7;
  box-sizing: border-box;
  border-radius: 15px;

}

h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  color: #fff;
}

.box .inputButton button {
  background: transparent;
  color: #fff;
  border-radius: 5px;
  outline: 1px black;

}


.box button:hover {
  background-color: #009FFF;
}


.box button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #009FFF;
}


.box .inputBox,
.inputButton {
  position: relative;
  padding-top: 10px;
  display: inline-block;

}

.box .inputBox input {

  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  border: 0px;
  outline: none;
  border-bottom: solid 1px;
  margin-bottom: 20px;
  background: none;
}


.box .inputBox label {

  position: absolute;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
}


/* alright so this tricked me for a bit
with the sibling selector it must come AFTER in html to recognize */
.box .inputBox input:focus~label {
  top: -18px;
  left: 0;
  color: #009FFF;
  font-size: 14px;
}



.container {
  text-align: center;
  max-width: 1200px;
 
  margin-top: 20px;
  margin: auto;
  padding: 10px;
  top: 50%;
  left: 50%;
  opacity: 0.7;
  box-sizing: border-box;
  border-radius: 15px;
  background: rgb(0, 0, 0.7);
}

table {

  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  border: solid;
  padding: 8px;
  border-width: 3px 0;
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  color: #fff;
  
}

tr:nth-of-type(even) {
  background-color: rgba(63, 63, 63, 0.568);
}

th {
  
  color: #fff;
  font-size: 18px;
}

body,
html {
  margin: 0;
  padding: 0;

}

.container {
  padding: 20px;
}

.container button {
  background-color: #dedede;
  border-radius: 5px;
  outline: 1px black;
  background: transparent;
  color: #fff;
  border-radius: 5px;


}


.container button:hover {
  background-color: #aaa;
}


.container button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #009FFF;
}