
.five{
    background-color: red;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    border: solid;
    padding: 8px;
    border-width: 5px 0;
  }
  
  
  th {

    color: black;
    font-size: 18px;
  }
  body, html {
    margin: 0;
    padding: 0;

  }
 