
.red{
    background: red;
}
.box{
  text-align: center;
  
   
     margin: auto;
     padding-top:20px;
     padding-right: 20px;
     padding-left: -10px;
     top: 50%;
     left: 50%;
}

.box input{
  border: 0;
  border-bottom: solid 3px;
  margin-bottom: 20px;
  
}

label{
  position: absolute;
}


.container{
  padding: 50px;
}
table {
  
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    border: solid;
    padding: 8px;
    border-width: 3px 0;
    border-left:3px solid #ccc; border-right: 3px solid #ccc;
  }
  
  tr:nth-of-type(even){
    background-color: rgb(175, 174, 174);
  }
  th {

    color: black;
    font-size: 18px;
  }

  body, html {
    margin: 0;
    padding: 0;

  }
  .container{
    padding: 20px;
  }